/logs/*.log
.log
/node_modules
/public/storage
/vendor
/.idea
/_notes
/public/pma
Homestead.json
Homestead.yaml
.env

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
*.swo
*.swp
*.php.swo
*.php.swp
# Org-mode
.org-id-locations
*_archive
